body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html, body, #root {
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

canvas {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  outline: none;
  z-index: 0;
  touch-action: none;
}

.hud {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.legend {
  display: flex;
  flex-direction: column;
  height: 100px;
  width: 200px;
  background: rgba(0, 0, 0, 0.2);
  color: white;
  margin-left: auto;
  padding: 16px;
}

.legend-title {
  text-decoration: underline;
  margin-bottom: 8px;
}

.legend-item {
  display: flex;
}

.legend-note {
  font-style: italic;
}

.blue-box, .red-box, .green-box {
  width: 14px;
  height: 14px;
  margin-right: 16px;
}

.blue-box {
  background: blue;
}

.red-box {
  background: red;
}

.green-box {
  background: green;
}
